<%- include("header") -%>

<h2>About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eum numquam, nulla, aut delectus qui quaerat vitae harum asperiores voluptas praesentium obcaecati fuga inventore aperiam nesciunt tenetur consequuntur? Ipsam, sequi.</p>

<%- include("footer") -%>
